{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <h1 class="text-center mt-3">
            <a href="{{ url('category.show', {'slug': category.slug}) }}">{{ category.name }}</a>
        </h1>

        {% include 'job/_table.html.twig' with {
            'jobs': category.activeJobs|slice(0, max_jobs_per_category)
        } only %}
    {% endfor %}
{% endblock %}
