{% extends 'base.html.twig' %}

{% set categoryName = category.name|upper %}

{% block title %} {{ categoryName }} {% endblock %}

{% block body %}

    <h2>{{ categoryName }}</h2>

    {% include 'job/table.html.twig' with {
        'jobs': activeJobs
    } only %}

    <div class="navigation text-center">
        {{ knp_pagination_render(activeJobs) }}
    </div>
{% endblock %}
