{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-3">Create new job</h1>

    {{ form_start(form, {method: 'POST', action: url('job.create')}) }}
        {{ form_widget(form) }}

    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Create
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
