{% extends 'base.html.twig' %}

{% block title %}Job list{% endblock %}

{% block body %}

    {% for category in categories %}

        <h3>{{ category.name|upper }}</h3>

        {% include 'job/table.html.twig' with {
            'jobs': category.activeJobs|slice(0, max_jobs_on_homepage)
        } only %}
    {% endfor %}

{% endblock %}
